@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/CooperHewitt-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('/fonts/CooperHewitt-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --un-decoration-thickness: max(1px, 0.1em);
  --un-decoration-offset: max(2px, 0.15em);

  --un-color-background: var(--colors-stone-50);
  --un-color-text: var(--colors-stone-900);
  --un-color-muted: var(--colors-stone-500);
}

html.dark {
  --un-color-background: var(--colors-stone-900);
  --un-color-text: white;
  --un-color-muted: var(--colors-stone-300);
}

html {
  background-color: var(--un-color-background);
  color: var(--un-color-text);
}

a:not([class]),
.link-default {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--un-decoration-color, transparent);
  text-decoration-thickness: var(--un-decoration-thickness);
  text-underline-offset: var(--un-decoration-offset);

  &:hover {
    text-decoration-color: currentcolor;
  }
}
