@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/CooperHewitt-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Cooper Hewitt';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/CooperHewitt-700.woff2') format('woff2');
}

:root {
  --un-decoration-thickness: max(1px, 0.1em);
  --un-decoration-offset: max(2px, 0.15em);
}

a {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: var(--un-decoration-color, currentcolor);
  text-decoration-thickness: var(--un-decoration-thickness);
  text-underline-offset: var(--un-decoration-offset);
}
