.prose {
  --un-decoration-color: var(--un-color-secondary-400);

  & :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
    font-family: var(--font-heading);
  }

  & :where(h1):not(:where(.not-prose, .not-prose *)) {
    font-size: 1.375em;
  }

  & :where(h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }

  & :where(.prose + .linktree-section):not(:where(.not-prose, .not-prose *)),
  &
    :where(
      .linktree-section + h2,
      .linktree-section + h3,
      .linktree-section + h4,
      .linktree-section + h5,
      .linktree-section + h6
    ):not(:where(.not-prose, .not-prose *)) {
    margin-top: calc(4 * var(--un-prose-space-y));
  }
}
